@import '../../../assets/css/variables';

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    .brand {
        display: flex;
        font-family: $star;
        color: $yellow;
        margin-left: 1%;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        > img {
            width: 50px;
            margin-right: 20px;
            height: auto;
        }
    }
}