<div class="container">
  <app-header></app-header>
  <i class="fas fa-spinner" *ngIf="loading"></i>
  <ul class="list-persons" *ngIf="!finalModal">
    <li class="card" *ngFor="let item of peoples?.results">
      <img [src]="item.image" class="image">
      <div class="info">
        <input type="text" [disabled]="item.asked" class="input" [placeholder]="item.asked ? item.answerOff : 'Nome do Personagem'"  [(ngModel)]="item.anwser" (blur)="leaveQuestion(item)">
        <button class="far fa-info" (click)="openDetail(item)"></button>
      </div>
    </li>
  </ul>
  <app-pagination (sendPage)="getUrlPagination($event)" [page]="{ next: peoples?.next, prev: peoples?.previous }"></app-pagination>
  <modal-detail [open]="detailModal" (close)="onClose($event)" 
  [selected]="detailPeople"></modal-detail>
</div>
<app-modal-final [open]="finalModal" [points]="points" (close)="onClose($event)"></app-modal-final>